<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div id="info-box" class="form-box">
            <div><%= info %></div>
            <a href="/signup">Proceed to login<a>
        </div>
    </body>
</html>